<!DOCTYPE html>
<html ng-app = "app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Busqueda de Usuarios</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript"src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
    <script type="text/javascript"src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script> 
    

	<link rel="stylesheet" href="\..\stylesheets/bootstrap.css">  
	<script src="\..\javascripts\angular.min.js"></script>

    <link rel="stylesheet" href="\..\stylesheets\bootstrap.min.css">    
 

	
    <body ng-app ng-controller = "ControllerAngular">


    <div id="menuDiv"></div>
    <!--
    <nav class="navbar navbar-default" style="background-color:#60161E;">
    <div class="container-fluid">
    <!-- Responsive ->
    <div class="navbar-header" >
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
  <IMG SRC="../images/situn2.png" WIDTH=85 HEIGHT=58  class="nav navbar-nav navbar-right">
    </div>

    <!-- Menu ->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="margin-top:7px;">
      	<!--li><a href=""style="color:#FFFFFF;">SCC-SITUN</a></li->
         <li ><a href="../HTML/Ingreso de Correspondencia"style="color:#FFFFFF;"><b>Ingreso Correspondencia</b></span> </a></li>
        <li><a href="../HTML/Enlace de Documentos"style="color:#FFFFFF;"><b>Enlace Documentos</b></a></li>
        <li><a href="../HTML/Busqueda"style="color:#FFFFFF;"><b>Búsqueda</b></a></li>	
		<li><a href="#"style="color:#FFFFFF;"><b>Reportes</b></a></li>
		<!---li><a href="#"style="color:#FFFFFF;">Escanear</a></li->
		<li><a href="../HTML/ingresaUser"style="color:#FFFFFF;"><b>Agregar Usuario</b></a></li>
		<li><a href="../HTML/BusquedaUsuarios"style="color:#FFFFFF;"><b>Buscar Usuarios</b></a></li>
	    <li><a href="../logout"style="color:#FFFFFF;"><b>Cerrar sesion</b></a></li>
		<li><a href="#" style="color:#FFFFFF;"><b>Ayuda</b></a></li>
      </ul>
	     
        <IMG SRC="../images/situn2.png" WIDTH=85 HEIGHT=58  class="nav navbar-nav navbar-right">
    </div><!-- /.navbar-collapse ->
  </div><!-- /.container-fluid ->
</nav>
	-->

	<!-- Trigger the modal with a button -->
<!-- Modal -->
<div class="col-md-1"></div>
	   
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
   
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-danger">Edición</h4>
      </div>
      <div class="modal-body">
		<center><table  id ="tablaAU">
                <tbody>
				<tr>
                    <td><label class="text-danger">Identificación</label></td>
					<td><div id="div0" class="form-group"><input id="IU0" type="text" class="form-control" disabled ></input></div></td>
				</tr>
				
				<tr>
                    <td><label class="text-danger">Nombre</label></td>
					<td><div id="div1" class="form-group"><textarea id="IU1" type="text" class="form-control" onfocus="claseNormal(1)"  ></textarea></div></td>
				</tr>
				
				<tr>
                    <td> <label class="text-danger">Primer Apellido</label> </td>	
					<td><div id="div2" class="form-group"><textarea id="IU2" type="text" class="form-control" onfocus="claseNormal(2)"></textarea></div></td>				 
				</tr>
				
                <tr>
                    <td> <label class="text-danger">Segundo Apellido</label> </td>
                   <td><div id="div3" class="form-group"><textarea id="IU3" type="text" class="form-control" onfocus="claseNormal(3)"></textarea></div></td> 
                </tr>
				
                <tr>
				    <td><label class="text-danger" for="exampleInputPassword1" >Contraseña</label> </td> 
                    <td><div id="div4" class="form-group"><input type="password" class="form-control" id="IU4" onfocus="claseNormal(4)" disabled></input></div> </td>  
					<td><button id="btnCambiar" type="button" class="btn btn-default"  onclick = "activar()" style= "margin-left:10px; margin-bottom:10px">Cambiar</button></td>
                </tr>
				
				<tr>
				    <td><label class="text-danger" for="exampleInputPassword1" style="display:none" id="LIU5">Confirmar Contraseña</label> </td> 
                    <td><div id="div5" class="form-group"><input type="password" class="form-control" id="IU5" style="display:none" onfocus="claseNormal(5)"></input></div> </td>  
					
			   </tr>
				
				<tr>
                    <td> <label class="text-danger">Administrador </label></td>
					<td> <label class="text-danger" style=""><input  type="checkbox" id="administrador_checkbox" value="enlace_checkbox"></label></td>
                </tr>

				</tbody> 
	     </table>  </center>
		 
		
		
      </div>
      <div class="modal-footer">
	    <center><button type="button" class="btn btn-default" ng-click = "actualiza()">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center>	
      </div>
    </div>

  </div>
  </div>
</div>

	   <!---Cuerpo-->
	   <body background="../images/situn4.png">
	   

	
	
	   <div class="col-md-8" style="margin-left:20px">
         <span class="text-danger"><h2>Tipo de Busqueda</h2></span>
 
           <form class="navbar-form navbar-left">         
        
            <div   class="form-group ">
				<select class="form-control" id="opBusqueda" ng-model = "criterio">
					<option value="identificacion">Identificación     
                    <option value="nombre">Nombre					
					<option value="apellido1">Primer apellido                                         
					<option value="apellido2">Segundo apellido                                     
				</select> 
               
          
				<input type="text" class="form-control" id="buscar"  ng-keyup= "($event.which == 13)?buscar():0">
				<input type = "button" class="btn btn-default" id="buscar" value = "Buscar" ng-click="buscar()" >
				<input type = "button"class="btn btn-default" id ="cancelar" value = "Cancelar"  ng-click="clear()" >
            
			</div>
         <p align="left"><p align="left">
		 <div class="table table-bordered" >
	    <p align="left"><table class="table" id="tabla_busqueda">

		<thead> 
			<tr class="danger">
			<td>Identicación</td>
			<td>Nombre</td>
			<td>Primer apellido</td>
			<td>Segundo apellido</td>
			<td>Edición</td> <!--// VER -->
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = "c in usuarios">
					<td> {{c.tp_4 }} </td>
					<td> {{c.tp_1 }} </td>
					<td> {{c.tp_2 }} </td>
					<td> {{c.tp_3 }} </td>
					<td> 
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" ng-click="obtenerUsuario(c)">Editar</button>
					</td>
			</tr>
		</tbody>       
	</table>
               </div></p>
      </form>
           
   
	   </div>
	
<script type="text/javascript">
  

$(document).ready(function() {
    // Solicita la informacion de la sesion si aun no existe en el storage
	$("#menuDiv").load("/HTML/menu.html");

});



let app = angular.module('app', []);
function MB_01($scope)//ControllerAngular
 {
	$scope.criterio = "identificacion";
	$scope.usuarios = new Array();
	$scope.updateUsuarios = c => $scope.usuarios = c;
	$scope.buscar = _ => MB_02($scope);
	$scope.clear = _ => MB_05($scope);
	$scope.obtenerUsuario	= n => asignarUsuario($scope, n); 
	$scope.actualiza =_ => actualizarInfo($scope);
  }
  
   app.controller('ControllerAngular', MB_01); 
   
  function actualizarInfo($scope){
  console.log('validacion '+validar());
    if(validar()){
	console.log('Entro despues de validacion'+validar()); // Quitar
	actualizarPersona();
	actualizarUsuario();
    MB_02($scope);
	$('#myModal').modal('hide'); // NUEVO
	}
  }
  
  function actualizarPersona(){
    let a = $('#IU0').val().toUpperCase();
	let b = $('#IU1').val().toUpperCase();
	let c = $('#IU2').val().toUpperCase(); 
	let d = $('#IU3').val().toUpperCase(); 
 
   fetch( 'http://localhost:3000/api/TP/UD', {  
    method: 'POST', 
    datatype:'json',
    headers: {  
      "Content-type": "application/x-www-form-urlencoded"  
      } ,
    body: "TP_1="+ b+ "&TP_2="+c+
	"&TP_3="+ d + "&TP_4="+ a 
      }
	  )
  .then(function(response) {
		return response.text().then(function(res) {
				console.log("Resultado: "+res);
					if(res.indexOf("error")==-1){
						$("#mensaje").text("Acción realizada con exito");
			}
				});
	})
  .catch(function(error) {  
   console.log('Request failed', error);  
  });
  }
  
  
  function actualizarUsuario(){
    let a = $('#IU0').val();
	let b = $('#IU4').val();
	
	let c = 0;
	if($("#administrador_checkbox").prop("checked"))
		c = 1;
		
		
    fetch( 'http://localhost:3000/api/TU/UD', {  
    method: 'POST', 
    datatype:'json',
    headers: {  
      "Content-type": "application/x-www-form-urlencoded"  
      } ,
    body: "TU_1="+ a+ "&TU_2="+b+
	"&TU_3="+ c
      }
	  )
  .then(function(response) {
		return response.text().then(function(res) {
				console.log("Resultado: "+res);
					if(res.indexOf("error")==-1){
						$("#mensaje").text("Acción realizada con exito");
			}
				});
	})
  .catch(function(error) {  
   console.log('Request failed', error);  
  });
 
  }
  function validar(){
	I2 = true;
	I3 = true;
	I4 = true;
	I5 = true;
	I6= true;

	if($("#IU1").val().length == 0){
		$("#div1").attr('class','form-group has-error') ;
		$("#IU1").attr('title','Campo Obligatorio') ;
		I2 = false;
	}
	else{
	  claseNormal(1);
	$("#IU1").attr('title','');
	}
	if($("#IU2").val().length == 0){
		$("#div2").attr('class','form-group has-error') ;
		$("#IU2").attr('title','Campo Obligatorio') ;
		I3 = false;
	}
	else{
	 claseNormal(2);
	$("#IU2").attr('title','');
	}
	if($("#IU3").val().length == 0){
		$("#div3").attr('class','form-group has-error') ;
		$("#IU3").attr('title','Campo Obligatorio') ;
		I4 = false;
	}
	else{
	 claseNormal(3);
	$("#IU3").attr('title','');
	}
	if($("#IU4").val().length == 0){
		$("#div4").attr('class','form-group has-error') ;
		$("#IU4").attr('title','Campo Obligatorio') ;
		I5 = false;
	}
	else{
	 claseNormal(4);
	$("#IU4").attr('title','');
	}
	if($( "#IU4" ).prop("disabled")!=true){ 
	if($("#IU5").val().length == 0){
		$("#div5").attr('class','form-group has-error') ;
		$("#IU5").attr('title','Campo Obligatorio') ;
		I6 = false;
	}
	else{
	 claseNormal(5);
	$("#IU5").attr('title','');
	}
	}
	if($("#IU4").val()!=$("#IU5").val() && $( "#IU4" ).prop("disabled")!=true){
		$("#div4").attr('class','form-group has-error') ;
		$("#IU4").attr('title','La contraseña no coincide') ;
		$("#div5").attr('class','form-group has-error') ;
		$("#IU5").attr('title','La contraseña no coincide') ;
		$("#IU5").val("");
		$("#IU4").val("");
		I6 = false;
	}
	else{
	if(I6&&I5){
	 claseNormal(4);
	$("#IU4").attr('title','');
	 claseNormal(5);
	$("#IU5").attr('title','');
	}
	}

		return (I2  && I3  && I4 && I5 && I6 );	
}


function limpiarValores(){
    $("#div5").attr('class','form-group') ;
	$("#IU5").attr('title','');
	$("#IU5").val("");
	let i =1;
	for(i=1;i<6;i++){
	   claseNormal(i);
	}
}
  
  function claseNormal(op){
	switch(op){
		case 1:  $("#div1").attr('class','form-group'); break;
		case 2:	 $("#div2").attr('class','form-group'); break;
		case 3:  $("#div3").attr('class','form-group'); break;
		case 4:  $("#div4").attr('class','form-group'); break;
		case 5:  $("#div5").attr('class','form-group'); break;
	}
  }
  
  function activar(){
    $("#IU4").removeAttr("disabled");
    $("#LIU5").show();
    $("#IU5").show();	
    $("#btnCambiar").hide();
  }
  
  function desactivar(){
    $("#IU4").attr('disabled','disabled');
    $("#LIU5").hide();
    $("#IU5").hide();
	$("#btnCambiar").show();
  }
 
 function asignarUsuario($scope, cor)
 {	desactivar();
   limpiarValores();
	 fetch( 'http://localhost:3000/api/TPTU/B', {  
    method: 'POST', 
    datatype:'json',
    headers: {  
      "Content-type": "application/x-www-form-urlencoded"  
      } ,
    body: "TU_1=" + cor.tp_4
      }
	)	 
	.then(res => res.json())
	.then(obj => cargarDatos(obj.data[0])
			)
	.catch(err => console.log('Request failed', err));
 }
  function cargarDatos(data){
  console.log(data);
     $("#IU1").val(data.tp_1);
     $("#IU2").val(data.tp_2);
     $("#IU3").val(data.tp_3);
	 $("#IU0").val(data.tu_1);
	 $("#IU4").val(data.tu_2);
	 if(data.tu_3 == 1)
		$("#administrador_checkbox").prop("checked", "checked");
	 
	 else
		$("#administrador_checkbox").prop("checked", "");

 }
 
 function MB_02($scope)  //Metodo de Busqueda
 {
 console.log("Retornado de url > " + MB_03($scope));
	let h3 = document.getElementById('buscar').value;
	 fetch( 'http://localhost:3000/api/TP/'+MB_03($scope), {  
    method: 'POST', 
    datatype:'json',
    headers: {  
      "Content-type": "application/x-www-form-urlencoded"  
      } ,
    body: MB_04($scope) + "=" + h3
      }
	)	 
	.then(res => res.json())
	.then(obj => $scope.$apply( _=>
					$scope.updateUsuarios(obj.data)))
	.catch(err => console.log('Request failed', err));
 }
 
 
function MB_03($scope)// Toma el tipo de busqueda y regresa el sufijo correspondiente a la dirección del servidor
{
	let op = $scope.criterio;
	console.log("El tipo de busqueda es por: |" + op + "|");
	switch(op)
	{
		case 'identificacion': // Identicacion
			return 'B';
		case 'nombre': // Nombre
			return 'BN';
		case 'apellido1': // Primer apellido
			return 'BA1';
		case 'apellido2': // Segundo Apellido
			return 'BA2';
	}
}  
function MB_04($scope) //Toma el criterio de busqueda y devuelve la columna que se debe buscar en la BD
{
	let op = $scope.criterio;
	switch(op)
	{
		case 'identificacion': // Identicacion
			return 'TP_4';
		case 'nombre': // Nombre
			return 'TP_1';
		case 'apellido1': // Primer Apellido
			return 'TP_2';
		case 'apellido2': // Segundo Apellido
			return 'TP_3';
	}
	
} 

function MB_05($scope){// limpia el div con el id de buscar
	document.getElementById('buscar').value="";
	$scope.usuarios = new Array();
	} 
	
</script>

  
    </body>
</html>