<!DOCTYPE html>
<html ng-app = "app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Busqueda</title>
		
	<script src="\..\javascripts\new\jquery-1.12.2.js"></script>
	<script src="\..\javascripts\new\moment-2.15.1.js"></script>
	<script src="\..\javascripts\new\bootstrap-3-3-7.min.js"></script>
	<link rel="stylesheet" href="\..\javascripts\new\bootstrap-3-3-7.min.css">
	<script src="\..\javascripts\new\bootstrap-datetimepicker-4.7.14.js"></script>
	<link rel="stylesheet" href="\..\javascripts\new\bootstrap-datetimepicker-4.7.14.css">
	<!-- Angular--> 
	<script src="\..\javascripts\angular.min.js"></script>
</head>

<body ng-app ng-controller = "ControllerAngular">
	<div id="menuDiv"></div>

	<!-- Modal de MIAYUDA-->
	<div id="myAyuda" class="modal fade" role="dialog" style="margin: 0 auto; width:675px; height:500px;">
	<div class="well">
		<!-- Modal content-->
		<div class="modal-content">
		<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-danger">Ayuda</h4>
		</div>
		<div class="modal-body">
		<right>
                <tbody>
				Busqueda de Correspondencia:<p>
					Para buscar una correspondencia se deberá escribir en el espacio correspondiente
					el asunto, numero de oficio, destinatario o remitente de la correspondencia, esto 
					dependiendo del criterio de busqueda que selecciono y presionar el botón Buscar.
					Las correspondencias que estarán relacionadas apareceran en el cuadro que se 
					muestra en la página.<p>
					
				Ver Enlaces:<p>	
					En este apartado tambien podrá ver los enlaces que tienen las correspondencias
					presionando el botón Ver Enlaces de cada correspondencia.	
				</tbody> 
	       </right>
		
		</div>
		<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center>	
		</div>
		</div>

	</div>
	</div>  <!-- fin del popup de ayuda --> 
	  
	<!---Cuerpo-->
	<body background="../images/situn4.png">
	<div class="col-md-8" style="margin-left:20px">
         <span class="text-danger"><h2>Tipo de Busqueda</h2></span>
			<form class="navbar-form navbar-left">         
            <div   class="form-group ">
				<select class="form-control input-sm" id="opBusqueda" ng-model = "criterio">
					<option value="Nº oficio">Nº Oficio
					<option value="Destinatorio">Destinatorio                                            
					<option value="Remitente">Remitente                                          
					<option value="Asunto">Asunto                                      
				</select> 
				<input type="text" class="form45" id="buscar"  >
				<input type = "button" class="btn btn-default" id="buscar" value = "Buscar" ng-click="buscar()" >
				<input type = "button"class="btn btn-default" id ="cancelar" value = "Cancelar"  ng-click="clear()" >
			</div>
         <p align="left"><p align="left"><div class="table table-bordered" >
	<p align="left"><table class="table" id="tabla_busqueda">
		

<style type="text/css">
	a.disabled {
    pointer-events: none;
    font-color: gray;
    opacity: 0.4;
}
</style>	
<!-- Tabla cargada al buscar correspondencias -->
		<thead> 
			<tr class="danger">
			<td># Oficio</td>
			<td>Fecha Oficio</td>
			<td>Fecha Recibido</td>
			<td>Asunto</td>
			<td>Destinatario </td>
			<td>Copia</td>
			<td>Remitente</td>			
			<td>Recibido</td>
			<td>Estado</td>
			<td>Enlaces</td>
			<td>Edicion</td>
			<td>Alarma</td>
			<td>Documento</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = "c in correspondencias">
					<td> {{c.tc_3 }} </td>
					<td> {{c.tc_4 | date:'dd/MM/yyyy'}} </td>
					<td> {{c.tc_2 | date:'dd/MM/yyyy'}} </td>
					<td> {{c.tc_8 }} </td>
					<td> {{c.tc_5 }} </td>
					<td> {{c.tc_6 }} </td>
					<td> {{c.tc_7 }} </td>					
					<td> {{c.tc_9 }} </td>
					<td> {{c.tc_10 }} </td>
					<td> 
						<!-- Trigger the modal with a button -->
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" ng-click="obtenerEnlaces(c)">Ver Enlaces</button>
					</td>
					<td> 
						<!-- Trigger the modal with a button -->
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal2" ng-click="obtenerInformacion(c)">Editar</button>
					</td>
					<td> 
						<!-- Trigger the modal with a button -->
						<button type="button" class="btn btn-danger" data-toggle="modal"  ng-click="Alarma(c)">Ajustar</button>
					</td>
					<td>
						<a ng-href="http://localhost:3000/Adjunto/{{c.tc_12}}" target="_blank" ng-class="c.tc_12.length==0?'disabled':''">Ver</a>	<!-- TERMINAR	-->		
										
					</td>
			</tr>
		</tbody>        
	</table>
               </div></p>
      </form>
	   </div> 
	  <!-- popup editar correspondencia-->
	<!-- Trigger the modal with a button -->
<!-- Modal -->
<div class="col-md-1"></div>   
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-danger">Edición</h4>
      </div>
	  <center>
      <table id ="tablaIC">
                <tbody>
						<tr class="danger">
				<td>
					 <label class="text-danger">Fecha Recibido</label>
				<td>
					<div class='input-group date' id='datetimepicker55'>
          					<input type='text' class="form-control" id="IC1"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar" onclick="limpiaCamposEnfocados(3)"></span>
          					</span>
        				</div>
				<td>
					
				</td>
			</tr>
                <tr>
                    <td> <label class="text-danger">N° Oficio</label> </td>
                    <td><div  id="div2"class="form-group"><textarea  id="IC2" type="text" class="form-control" onfocus="limpiaCamposEnfocados(2)"></textarea>
					<label class="text-danger" style=""><input  type="checkbox" id="IC12" value="first_checkbox" onchange="checkCampoOficio()">Sin Oficio</label></div></td>           
					</tr>
                <tr>
                    <td> <label class="text-danger">Fecha Oficio</label></td>
                    <td> <div class='input-group date' id='datetimepicker66'>
          					<input type='text' class="form-control" id="IC3"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar" onclick="limpiaCamposEnfocados(3)"></span>
          					</span>
        				</div>
					</td>
                </tr>
                <tr>
                    <td> <label class="text-danger">Destinatario </label></td>
                    <td><div id="div4" class="form-group"><textarea id="IC4" type="text" class="form-control"  onfocus="limpiaCamposEnfocados(4)"></textarea></div></td> 
                </tr>
				 <tr>
                    <td> <label class="text-danger">Copia </label></td>
                    <td><div id="div5" class="form-group"><textarea id="IC5" type="text" class="form-control" onfocus="limpiaCamposEnfocados(5)"></textarea></div></td> 
                </tr>
				 <tr>
                    <td> <label class="text-danger">Remitente </label></td>
                    <td><div id="div6" class="form-group"><textarea id="IC6" type="text" class="form-control" onfocus="limpiaCamposEnfocados(6)"></textarea></div></td>                </tr>
                <tr>
                    <td> <label class="text-danger">Asunto</label></td>
                    <td><div id="div7"class="form-group"><textarea id="IC7" type="text" class="form-control"rows=4 cols=30 onfocus="limpiaCamposEnfocados(7)"></textarea></input></div></td> <!--****** NUEVO ***********-->
                </tr>
				<tr>
                    <td> <label class="text-danger">Recibido</label></td>
                    <td><div id="div8"class="form-group"><input id="IC8" type="text"class="form-control" onfocus="limpiaCamposEnfocados(8)" ng-model="usuario" disabled></input> <div></td> <!--****** NUEVO ***********-->
                </tr>
				<tr>
                    <td> <label class="text-danger">Estado</label></td>
                    <td><div id="div9"class="form-group"><textarea type="text" class="form-control" id="IC9"  onfocus="limpiaCamposEnfocados(9)"></textarea></div></td> <!--****** NUEVO ***********-->
                </tr>
                <tr>
                    <td> <label class="text-danger">Observaciones</label></td>
                    <td><div id="div10"class="form-group"><textarea type="text"class="form-control" id="IC10" data-toggle="tooltip" data-placement="right" title="Hooray!"> </textarea></input></div></td> <!--****** NUEVO ***********-->
                </tr>
                </center>
						</tbody>
		           </table>  
      <div class="modal-footer">
	    <center><button type="button" class="btn btn-default" ng-click = "actualiza(c)" >Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center>	
      </div>
    </div>
  </div>
  </div>
</div>
	<!-- fin del popup editar correspondencia-->
	  <!-- Trigger the modal with a button -->
<!-- Modal -->
<div class="col-md-1"></div>	   
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">   
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4>Mostrando Enlaces de </h4>
			<h4 id="idEnlace"></h4>
		</center>
      </div>
      <div class="modal-body">
		<center>
			<table class="table">
			<thead>
			<tr class="danger">
				<td>
					<h3>Superiores</h3>
				<td>
					<h3>Inferiores</h3>
				<td>
					
				</td>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div>
							<li ng-repeat = "e in enlaces[0]">{{e}}</li>
						</div>
					</td>
					<td>
						<div>
							<li ng-repeat = "e in enlaces[1]">{{e}}</li>
						</div>
					</td>
				</tr>
			</tbody>
		</table> 
		</center>
      </div>
      <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- popup alarma-->
		   	    <!-- Modal -->
<!-- Modal -->
<div ></div>
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
	 <div class="modal-content">
      <div class="modal-header">		
        <button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4>Ajuste de Alarma </h4>
		</center>
	  </div>
      <div class="modal-body">
	  <center>
		<table class="table">
			<thead>
			<tr class="danger">
				<td>
					 <label class="text-danger">Fecha Aviso</label>
				<td>
					<div class='input-group date' id='datetimepicker33'>
          					<input type='text' class="form-control" id="IC14"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar" onclick="limpiaCamposEnfocados(3)"></span>
          					</span>
        				</div>
				<td>		
				</td>
			</tr>
			<tr class="danger">
				<td>
					 <label class="text-danger">Fecha Limite</label>
				<td>
					<div class='input-group date' id='datetimepicker44'>
          					<input type='text' class="form-control" id="IC15"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar" onclick="limpiaCamposEnfocados(3)"></span>
          					</span>
        				</div>
				<td>
				</td>
			</tr>
			</thead>	
		</table>
		</center>
      </div>
      <div class="modal-footer">
	   <center>
	  <button id="btnGd1" type="button" class="btn btn-default"  >Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		</center>     
	 </div>
    </div>
  </div>
  </div>
	<!-- fin del popup Alarma-->
	
	<!-- popup alarma-->
		   	    <!-- Modal -->
<!-- Modal -->
<div ></div>
	   
<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
	 <div class="modal-content">
      <div class="modal-header">		
        <button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4>Ajuste de Alarma </h4>	
		</center>
	  </div>
      <div id="divAjuste1" class="modal-body">
	  <center>
		 <label class="text-danger">Actualmente este oficio no cuenta con una alarma. Puede crear una nueva alarma completando los siguientes campos</label>
		</center>
      </div>	  
	   <div id="divAjuste2" class="modal-body" >   
	  <center>
		 <table class="table">
			<thead>
			<tr class="danger">
				<td>
					 <label class="text-danger">Fecha Aviso</label>
				<td>
					<div class='input-group date' id='datetimepicker7'>
          					<input type='text' class="form-control" id="IC16"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar" onclick="limpiaCamposEnfocados(3)"></span>
          					</span>
        				</div>
				<td>
				</td>
			</tr>
			<tr class="danger">
				<td>
					 <label class="text-danger">Fecha Limite</label>
				<td>
				<div class='input-group date' id='datetimepicker8'>
          					<input type='text' class="form-control" id="IC17"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar" onclick="limpiaCamposEnfocados(3)"></span>
          					</span>
        				</div>
				<td>
				</td>
			</tr>
			</thead>
			
		</table>
		</center>
      </div>
      <div class="modal-footer">
	  <center>
		<button id = "btnGd" type="button" class="btn btn-default"   >Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </center>
	  </div>
    </div>
  </div>
  </div>
	<!-- fin del popup Alarma-->   
<script type="text/javascript">

$(document).ready(function() {// Solicita la informacion de la sesion si aun no existe en el storage
	$("#menuDiv").load("/HTML/menu");
	$("#ayuda").click(
	function(){$("#miAyuda").show();});
});

let app = angular.module('app', []);
function controllerAngular($scope)//ControllerAngular
 {
	$scope.criterio = "Asunto";
	$scope.correspondencias = new Array();
	$scope.updateCorrespondencias = c => $scope.correspondencias = c;
	$scope.buscar = _ => busquedaCorrespondencia($scope);
	$scope.clear = _ => limpiaTabla($scope);
	$scope.obtenerEnlaces	= n => buscaEnlaces($scope, n);
	$scope.enlaces = new Array();
    $scope.obtenerInformacion	= e => asignarInformacion($scope, e);
	$scope.recibido = r => ObtenerRecibido();
	$scope.actualiza =_ => actualizarInfo($scope);
	$scope.Alarma= x => ajusteAlarma($scope,x);
	$scope.nuevaAlarma = h => nuevaAlarma($scope, h);
  }
  
   app.controller('ControllerAngular', controllerAngular); 
 
 function buscaEnlaces($scope, cor) //Muestra todos los enlaces relacionados con una correspondencia especifica
 {	
	 fetch( 'http://localhost:3000/api/ALL/ENLACES', {  
    method: 'POST', 
    datatype:'json',
    headers: {  
      "Content-type": "application/x-www-form-urlencoded"  
      } ,
    body: "COD=" + cor.tc_1
      }
	)	 
	.then(res => res.json())
	.then(obj => ( $scope.$apply( _=>
						$scope.enlaces = obj.data),
					$("#idEnlace").text(cor.tc_3) 
				)
			)
	.catch(err => console.log('Request failed', err));
 }
 
 
 let conditional;
  function asignarInformacion($scope, cor){ //Busca la correspondencia y muestra la informacion de esta
   conditional=cor.tc_1;
   console.log("asigna"+cor.tc_1);
	 fetch( 'http://localhost:3000/api/TC/BC', {  
    method: 'POST', 
    datatype:'json',
    headers: {  
      "Content-type": "application/x-www-form-urlencoded"  
      } ,
    body: "TC_1=" + cor.tc_1
      }
	)	 
	.then(res => res.json())
	.then(obj => cargarDatos( obj.data[0])
			)
	.catch(err => console.log('Request failed', err));
 }
 
 let person;
 let condicion;
  
  function cargarDatos( data){ //Muestra los datos de la correspondencia en pantalla
	condicion=data.tc_1;
	let fechaO=  new Date(data.tc_2.substr(0, 4),data.tc_2.substr(5, 2),data.tc_2.substr(8, 2));
	let fechaOficio=(data.tc_2.substr(8, 2)+"-"+data.tc_2.substr(5, 2)+"-"+data.tc_2.substr(0, 4));
    $("#IC1").val(fechaOficio);
    $("#IC2").val(data.tc_3);
	let fechaR=  new Date(data.tc_4.substr(0, 4),data.tc_4.substr(5, 2),data.tc_4.substr(8, 2));
	let fechaRecibido=(data.tc_4.substr(8, 2)+"-"+data.tc_4.substr(5, 2)+"-"+data.tc_4.substr(0, 4));
     $("#IC3").val(fechaRecibido);
	 $("#IC4").val(data.tc_5);
	 $("#IC5").val(data.tc_6);
	 $("#IC6").val(data.tc_7);
     $("#IC7").val(data.tc_8);
	 person=data.tc_9;
     ObtenerRecibido();
	 $("#IC9").val(data.tc_10);
	 $("#IC10").val(data.tc_11);
 }
 
 
 function ObtenerRecibido() //busca el nombre de la persona que recibio la correpondencia
{								//y lo cambia por el id de la persona
 	
    console.log("Person"+person);
	fetch( 'http://localhost:3000/api/TP/B', {  
    method: 'POST', 
    datatype:'json',
    headers: {  
      "Content-type": "application/x-www-form-urlencoded"  
      } ,
    body: "TP_4=" + person
      }
	)	 
	.then(res => res.json())
	.then(obj => cargarRecibido(obj.data[0],true)
			)
	.catch(err => console.log('Request failed', err));
 }

  function cargarRecibido(data,op){
	if(op)
      $("#IC8").val(data.tp_1+" "+data.tp_2+" "+data.tp_3);
	  else
	  return data.tp_4;
 }
 
 function busquedaCorrespondencia($scope)  //Metodo de Busqueda
 {
 	console.log("Retornado de url > " + tipoBusqueda($scope));
	let h3 = document.getElementById('buscar').value;
	 fetch( 'http://localhost:3000/api/TC/'+tipoBusqueda($scope), {  
    method: 'POST', 
    datatype:'json',
    headers: {  
      "Content-type": "application/x-www-form-urlencoded"  
      } ,
    body: tipoBusquedaBD($scope) + "=" + h3
      }
	)	 
	.then(res => res.json())
	.then(obj => $scope.$apply( _=>
					$scope.updateCorrespondencias(obj.data)))
	.catch(err => console.log('Request failed', err));
 }
 
function tipoBusqueda($scope)// Toma el tipo de busqueda y regresa el sufijo correspondiente a la dirección del servidor
{
	let op = $scope.criterio;
	console.log("El tipo de busqueda es por: |" + op + "|");
	switch(op)
	{
		case 'Nº oficio': // Oficio
			return 'BO';
		case 'Destinatorio': // Destinatario
			return 'BD';
		case 'Remitente': // Remitente
			return 'BR';
		case 'Asunto': // Asunto
			return 'BA';
	}
}  
function tipoBusquedaBD($scope) //Toma el criterio de busqueda y devuelve la columna que se debe buscar en la BD
{
	let op = $scope.criterio;
	switch(op)
	{
		case 'Nº oficio': // Oficio
			return 'TC_3';
		case 'Destinatorio': // Destinatario
			return 'TC_5';
		case 'Remitente': // Remitente
			return 'TC_7';
		case 'Asunto': // Asunto
			return 'TC_8';
	}
	
} 

function limpiaTabla($scope){// limpia el div con el id de buscar
	$("#buscar").val("");
	$scope.correspondencias = new Array();
	} 

 function limpiaCamposEnfocados(n){//Limpia los campos cuando se enfocan
  limpiaDivMensaje();
  cambioClase1(n);
 }
 
 function limpiaDivMensaje(){//Limpia el div con el id=mensaje
$("#mensaje").text("");
}

function cambioClase1(op){//Realiza un cambio de clase a los campos de entrada del formulario de la clase has-error a from-group
	switch(op){
	case 1: document.getElementById("datetimepicker55").className= "input-append form-group";break;
	case 2: document.getElementById("div2").className ="form-group" ; break;
	case 3: document.getElementById("datetimepicker66").className ="input-append  form-group" ; break;
	case 4: document.getElementById("div4").className ="  form-group" ;break;
	case 5: document.getElementById("div5").className ="  form-group" ;break;
	case 6: document.getElementById("div6").className ="  form-group" ;break;
	case 7: document.getElementById("div7").className ="  form-group" ;break;
	case 8: document.getElementById("div8").className ="  form-group" ;break;
	case 9: document.getElementById("div9").className ="  form-group" ;break;
	default: break;
	}
	}
	
function actualizarInfo($scope){ //Actualiza la informacion que se haya editado
    if(validar()){
	actualizarCorrespondencia($scope);
    busquedaCorrespondencia($scope);
	$("[data-dismiss=modal]").trigger({ type: "click" });
	}
  }
  
  function checkCampoOficio(){ //Cambia el valor del campo referente al numero de oficio si la opcion SIN OFICIO esta marcada
if($("#IC12").is(':checked')){
	$("#IC2").val("SIN OFICIO");
	$("#IC2").prop("disabled",true);	
	}
	else{
	$("#IC2").val("");
	$("#IC2").prop("disabled",false);
	}
}

function validaFechas(){   //validacion de fechas editadas
	let fechaR=$("#IC1").val();
	let s=new Date(fechaR.substring(10, 6)+'-'+fechaR.substring(5, 3)+'-'+fechaR.substring(2, 0));
	let fecha2=$("#IC3").val();
	let r=new Date(fecha2.substring(10, 6)+'-'+fecha2.substring(5, 3)+'-'+fecha2.substring(2, 0));
	 if(s<r)
	 return -1;
	 else if(s>=r)
	 return 1;

}
  function validaFechasAlarma(){   //validacion de fechas de ajuste de alarmas
	let fechaR=$("#IC14").val();
	let s=new Date(fechaR.substring(10, 6)+'-'+fechaR.substring(5, 3)+'-'+fechaR.substring(2, 0));
	let fecha2=$("#IC15").val();
	let r=new Date(fecha2.substring(10, 6)+'-'+fecha2.substring(5, 3)+'-'+fecha2.substring(2, 0));
	 if(s<r)
	 return -1;
	 else if(s>=r)
	 return 1;
}
  
  function validar(){	 //Valida los campos 
	IC1 = true;
	IC2 = true;
	IC3 = true;
	IC4	= true;
	IC5 = true;
	IC6 = true;
	IC7 = true;
	IC8 = true;
	IC9 = true;
	IC10 = true;
	
	if($("#IC1").val().length == 0 || validaFechas()==-1){
		document.getElementById("datetimepicker55").className ="input-append  form-group has-error" ;
		document.getElementById("IC1").title = "Campo Obligatoria" ;
		IC1 = false;
	}
	else{
	document.getElementById("datetimepicker55").className ="input-append  form-group" ;
	document.getElementById("IC1").title = "" ;
	}
	if($("#IC2").val().length == 0){
		document.getElementById("div2").className = "form-group has-error" ;
		document.getElementById("IC2").title = "Campo Obligatorio";
		IC2 = false;
	}
	else{
	document.getElementById("div2").className ="  form-group" ;
	document.getElementById("IC2").title = "" ;
	}
	
	if($("#IC3").val().length == 0 || validaFechas()==-1){
		document.getElementById("datetimepicker66").className = " input-append  form-group has-error" ;
		document.getElementById("IC3").title = "Campo Obligatorio";
		IC3 = false;
	}
	else{
	document.getElementById("datetimepicker66").className ="input-append  form-group" ;
	document.getElementById("IC3").title = "" ;
	}
	if($("#IC4").val().length == 0){
		document.getElementById("div4").className ="form-group has-error" ;
		document.getElementById("IC4").title = "Campo Obligatorio";
		IC4 = false;
	}
	else{
	document.getElementById("div4").className =" form-group" ;
	document.getElementById("IC4").title = "" ;
	}
	if($("#IC5").val().length == 0){
		document.getElementById("div5").className = "form-group has-error" ;
		document.getElementById("IC5").title = "Campo Obligatorio";
		IC5 = false;
	}
	else{
	document.getElementById("div5").className ="  form-group" ;
	document.getElementById("IC5").title = "" ;
	}
	if($("#IC6").val().length == 0){
		document.getElementById("div6").className = "form-group has-error" ;
		document.getElementById("IC6").title = "Campo Obligatorio";
		IC6 = false;
	}
	else{
	document.getElementById("div6").className ="  form-group" ;
	document.getElementById("IC6").title = "" ;
	}
	if($("#IC7").val().length == 0){
		document.getElementById("div7").className = "form-group has-error" ;
		document.getElementById("IC7").title = "Campo Obligatorio";
		IC7 = false;
	}
	else{
	document.getElementById("div7").className ="form-group" ;
	document.getElementById("IC7").title = "" ;
	}
	if($("#IC8").val().length == 0){
		document.getElementById("div8").className = "form-group has-error" ;
		document.getElementById("IC8").title = "Campo Obligatorio";
		IC8 = false;
	}
	else{
	document.getElementById("div8").className ="  form-group" ;
	document.getElementById("IC8").title = "" ;
	}
	if($("#IC9").val().length == 0){
		document.getElementById("div9").className ="form-group has-error" ;
		document.getElementById("IC9").title = "Campo Obligatorio";
		IC9 = false;
	}
	else{
	document.getElementById("div9").className ="  form-group" ;
	document.getElementById("IC9").title = "" ;
	}
		return (IC1 && IC2  && IC3  && IC4 	&& IC5 && IC6 && IC7 && IC8 && IC9 && cambioClase2());
	
}

function cambioClase2(){//Realiza el cambio de clase de los campon de fecha del formulario a la clase has-error
	//La fecha debe de llevar el formato YYYY/MM/dd
	var d=new Date($("#IC1").val());
	let fecha1 = d.getFullYear() + '-'+(d.getMonth()+1) + '-' + ((d.getDate()<10)?'0':'') + d.getDate();
	let fecha2=$("#IC3").val();
	let r=fecha2.substring(10, 6)+'-'+fecha2.substring(5, 3)+'-'+fecha2.substring(2, 0);
	if(fecha1>=r){
	document.getElementById("datetimepicker55").className ="input-append  form-group " ;
	document.getElementById("IC1").title = "" ;
	document.getElementById("datetimepicker66").className ="input-append  form-group " ;
	document.getElementById("IC3").title = "" ;
	return true;}
	else{
	document.getElementById("datetimepicker55").className ="input-append  form-group has-error" ;
	document.getElementById("IC1").title = "Fecha de oficio mayor a la de recibido" ;
	document.getElementById("datetimepicker66").className ="input-append  form-group has-error" ;
	document.getElementById("IC3").title = "Fecha de oficio mayor a la de recibido" ;
	return false;}
	}
	
function actualizarCorrespondencia($scope,cor){ //Recoge los datos de los campos y realiza el fecth de inserción 
	var d=new Date($("#IC1").val());
	let a1=conditional;
	let b3 = $("#IC1").val().substr(6,4)+"-"+$("#IC1").val().substr(3,2)+"-"+$("#IC1").val().substr(0,2);
	console.log("anooo "+b3);
	let c3 = $('#IC2').val().toUpperCase(); 
	let fecha=$('#IC3').val();
	let d3 = $("#IC3").val().substr(6,4)+"-"+$("#IC3").val().substr(3,2)+"-"+$("#IC3").val().substr(0,2);
	let e3 = $('#IC4').val().toUpperCase();
	let f3 = $('#IC5').val().toUpperCase();
	let g3 = $('#IC6').val().toUpperCase();
	let h3 = $('#IC7').val().toUpperCase();
	let i3 = '1'; // cambiar solo lo puse por que si no mamaron al ingresar
	let j3 = $('#IC9').val().toUpperCase();
    let k3 = $('#IC10').val().toUpperCase();

 fetch( 'http://localhost:3000/api/TC/UD', {  
    method: 'POST', 
    datatype:'json',
    headers: {  
      "Content-type": "application/x-www-form-urlencoded"  
      } ,
    body: "TC_1="+ a1+"&TC_2="+ b3+ "&TC_3="+c3+
	"&TC_4="+ d3 + "&TC_5="+ e3 +"&TC_6="+ f3 + 
	"&TC_7="+ g3 + "&TC_8="+ h3 +"&TC_9="+ i3+"&TC_10="+ j3+ "&TC_11="+ k3
      }
	  )
  .then(function(response) {
		return response.text().then(function(res) {
				console.log("Resultado: "+res);
					if(res.indexOf("error")==-1){
						$("#mensaje").text("Acción realizada con exito");
							}
				});
	})
  .catch(function(error) {  
   console.log('Request failed', error);  
  });
 
}


/**
* Funciones de los calendarios de la pagina
**/
     //Calendario de la fecha de oficio
    $('#datetimepicker33').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });
 
  
  //Calendario de la fecha de recibido
    $('#datetimepicker44').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });
 
 
	//Calendario de la fecha de recibido
    $('#datetimepicker55').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });
 
   //Calendario de la fecha de recibido
    $('#datetimepicker66').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });
  
 
   $('#datetimepicker7').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });

   $('#datetimepicker8').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });

function ajusteAlarma($scope ,cor)  //Metodo de ajuste de alarma
 {   let corr=cor.tc_1;
 	console.log("Retornado de url > " + "Alarmas");
	console.log( cor.tc_1);
	fetch( 'http://localhost:3000/api/TA/ALL_TA', {  
    method: 'POST', 
    datatype:'json',
    headers: {  
      "Content-type": "application/x-www-form-urlencoded"  
      } ,
    body:  "TA_1=" + cor.tc_1
      }
	)	 
    .then(res => res.json())
	.then(obj => cargaAlarma(obj.data[0],corr))
	.catch(err => console.log('Request failed', err));
 }
 
function cargaAlarma(data,corr){ //carga los datos de la alarma para mostrar en pantalla
   if(data!=null){
  $("#myModal3").modal("show");
      $("#IC14").val(data.ta_2.substr(8,2)+"-"+data.ta_2.substr(5,2)+"-"+data.ta_2.substr(0,4));
	  $("#IC15").val(data.ta_3.substr(8,2)+"-"+data.ta_3.substr(5,2)+"-"+data.ta_3.substr(0,4));
	  $("#btnGd1").click(function(){
		console.log("guarde2");
		actualizarAlarma(corr);
		$("[data-dismiss=modal]").trigger({ type: "click" });
		}//fin function
		);
	 return 0; }
	  else{
	   $("#myModal4").modal("show");
	   $("#btnGd").click(function(){
		console.log("guarde");
		nuevaAlarma(corr);
		$("[data-dismiss=modal]").trigger({ type: "click" });});
	   return 1;
	   }
 }
  
 function actualizarAlarma(data){ //Recoge los datos de los campos y realiza el fecth de actualizacion de alarma
	let b3 = $("#IC15").val().substr(6,4)+"-"+$("#IC14").val().substr(3,2)+"-"+$("#IC14").val().substr(0,2);
	let d3 = $("#IC14").val().substr(6,4)+"-"+$("#IC15").val().substr(3,2)+"-"+$("#IC15").val().substr(0,2);
	fetch( 'http://localhost:3000/api/TA/UDF', {  
    method: 'POST', 
    datatype:'json',
    headers: {  
      "Content-type": "application/x-www-form-urlencoded"  
      } ,
    body: "TA_1="+ data+"&TA_2="+ d3+"&TA_3="+ b3+"&TA_4=0"
      }
	  )
  .then()
  .catch(function(error) {  
   console.log('Request failed', error);  
  });
 $("[data-dismiss=modal]").trigger({ type: "click" });
}

function nuevaAlarma(data){//insercion de una nueva alarma a las correpondencia escogida
		let b5 = $("#IC16").val().substr(6,4)+"-"+$("#IC16").val().substr(3,2)+"-"+$("#IC16").val().substr(0,2);	
	    let c5 = $("#IC17").val().substr(6,4)+"-"+$("#IC17").val().substr(3,2)+"-"+$("#IC17").val().substr(0,2);
		let d5 = 0;
		if(b5!= "" && c5!=""){ 
		fetch( 'http://localhost:3000/api/TA/I', {  
			method: 'POST', 
			datatype:'json',
			headers: {  
				"Content-type": "application/x-www-form-urlencoded"  
			} ,
			body: "TA_1="+ data+ "&TA_2="+ c5+ "&TA_3="+b5+"&TA_4="+ d5 
		}
	  )
		.then(function(response) {
			return response.text().then(function(res) {
					console.log("Resultado de nueva alarma: "+res);
			});
		})
		.catch(function(error) {  
			console.log('Request failed', error);  
		});
		}
	}
</script>
    </body>
</html>