<!DOCTYPE html>
<html ng-app = "app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="../images/ico.ico" type="image/ico" />
        <title>Busqueda</title>
        <script src="\..\javascripts\script_menu.js"></script>
		<script type="text/javascript" src="\..\javascripts\script_BusquedaCorrespondencia.js"></script>
	<script src="\..\javascripts\jquery-1.12.2.js"></script>
	<script src="\..\javascripts\moment-2.15.1.js"></script>
	<script src="\..\javascripts\bootstrap-3-3-7.min.js"></script>
	<link rel="stylesheet" href="\..\stylesheets\bootstrap-3-3-7.min.css">
	<script src="\..\javascripts\bootstrap-datetimepicker-4.7.14.js"></script>
	<link rel="stylesheet" href="\..\stylesheets\bootstrap-datetimepicker-4.7.14.css">
	<!-- Angular--> 
	<script src="\..\javascripts\angular.min.js"></script>
</head>

<body ng-app ng-controller = "ControllerAngular">
	<div id="menuDiv"></div>

	<!-- Modal de MIAYUDA-->
	<div id="myAyuda" class="modal fade" role="dialog" style="margin: 0 auto; width:675px; height:500px;">
	<div class="well">
		<!-- Modal content-->
		<div class="modal-content">
		<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-danger">Ayuda</h4>
		</div>
		<div class="modal-body">
		<right>
                <tbody>
				Busqueda de Correspondencia:<p>
					Para buscar una correspondencia se deberá escribir en el espacio correspondiente
					el asunto, numero de oficio, destinatario o remitente de la correspondencia, esto 
					dependiendo del criterio de busqueda que selecciono y presionar el botón Buscar.
					Las correspondencias que estarán relacionadas apareceran en el cuadro que se 
					muestra en la página.<p>
					
				Ver Enlaces:<p>	
					En este apartado tambien podrá ver los enlaces que tienen las correspondencias
					presionando el botón Ver Enlaces de cada correspondencia.	
				</tbody> 
	       </right>
		
		</div>
		<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center>	
		</div>
		</div>

	</div>
	</div>  <!-- fin del popup de ayuda --> 
	  
	<!---Cuerpo-->
	<body background="../images/situn4.png">
	<div class="col-md-8" style="margin-left:20px">
           <span class="text-danger" style="margin-left:30px">
		 <h2 >Busqueda de Correspondencia</h2> 
		 <h4 >Tipo de Busqueda</h4>
		 </span>
			<form class="navbar-form navbar-left">         
            <div   class="form-group ">
				<select class="form-control input-sm" id="opBusqueda" ng-model = "criterio">
					<option value="Nº oficio">Nº Oficio
					<option value="Destinatorio">Destinatorio                                            
					<option value="Remitente">Remitente                                          
					<option value="Asunto">Asunto                                      
				</select> 
				<input type="text" class="form45" id="buscar"  >
				<input type = "button" class="btn btn-default" id="buscar" value = "Buscar" ng-click="buscar()" >
				<input type = "button"class="btn btn-default" id ="cancelar" value = "Cancelar"  ng-click="clear()" >
			</div>
         <p align="left"><p align="left"><div class="table table-bordered" >
	<p align="left"><table class="table" id="tabla_busqueda">
		

<style type="text/css">
	a.disabled {
    pointer-events: none;
    font-color: gray;
    opacity: 0.4;
}
</style>	
<!-- Tabla cargada al buscar correspondencias -->
		<thead> 
			<tr class="danger">
			<td># Oficio</td>
			<td>Fecha Oficio</td>
			<td>Fecha Recibido</td>
			<td>Asunto</td>
			<td>Destinatario </td>
			<td>Copia</td>
			<td>Remitente</td>			
			<td>Recibido</td>
			<td>Estado</td>
			<td>Enlaces</td>
			<td>Edicion</td>
			<td>Alarma</td>
			<td>Documento</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = "c in correspondencias">
					<td> {{c.tc_3 }} </td>
					<td> {{c.tc_4 | date:'dd/MM/yyyy'}} </td>
					<td> {{c.tc_2 | date:'dd/MM/yyyy'}} </td>
					<td> {{c.tc_8 }} </td>
					<td> {{c.tc_5 }} </td>
					<td> {{c.tc_6 }} </td>
					<td> {{c.tc_7 }} </td>					
					<td> {{c.tc_9 }} </td>
					<td> {{c.tc_10 }} </td>
						<td> 
						<!-- Trigger the modal with a button -->
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" ng-click="obtenerEnlaces(c)"><img src="../../../../images/enlace.png" width="20" height="20" /></button>
					</td>
					<td> 
						<!-- Trigger the modal with a button -->
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal2" ng-click="obtenerInformacion(c)"><img src="../../../../images/editar.png" width="20" height="20" /></button>
						
						
					</td>
					<td> 
						<!-- Trigger the modal with a button -->
						<button type="button" class="btn btn-danger" data-toggle="modal"  ng-click="Alarma(c)"><img src="../../../../images/alarma.png" width="20" height="20" /></button>
					</td>
					<td>
						<center><a ng-href="http://localhost:3000/Adjunto/{{c.tc_12}}" target="_blank" ng-class="c.tc_12.length==0?'disabled':''"><img src="../../../../images/documento.png" width="32" height="32" /></a>	</center><!-- TERMINAR	-->		
										
					</td>
			</tr>
		</tbody>        
	</table>
               </div></p>
      </form>
	   </div> 
	  <!-- popup editar correspondencia-->
	<!-- Trigger the modal with a button -->
<!-- Modal -->
<div class="col-md-1"></div>   
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-danger">Edición</h4>
      </div>
	  <center>
      <table id ="tablaIC">
                <tbody>
						<tr class="danger">
				<td>
					 <label class="text-danger">Fecha Recibido</label>
				<td>
					<div class='input-group date' id='datetimepicker55'>
          					<input type='text' class="form-control" id="IC1"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar" onclick="limpiaCamposEnfocados(3)"></span>
          					</span>
        				</div>
				<td>
					
				</td>
			</tr>
                <tr>
                    <td> <label class="text-danger">N° Oficio</label> </td>
                    <td><div  id="div2"class="form-group"><textarea  id="IC2" type="text" class="form-control" onfocus="limpiaCamposEnfocados(2)"></textarea>
					<label class="text-danger" style=""><input  type="checkbox" id="IC12" value="first_checkbox" onchange="checkCampoOficio()">Sin Oficio</label></div></td>           
					</tr>
                <tr>
                    <td> <label class="text-danger">Fecha Oficio</label></td>
                    <td> <div class='input-group date' id='datetimepicker66'>
          					<input type='text' class="form-control" id="IC3"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar" onclick="limpiaCamposEnfocados(3)"></span>
          					</span>
        				</div>
					</td>
                </tr>
                <tr>
                    <td> <label class="text-danger">Destinatario </label></td>
                    <td><div id="div4" class="form-group"><textarea id="IC4" type="text" class="form-control"  onfocus="limpiaCamposEnfocados(4)"></textarea></div></td> 
                </tr>
				 <tr>
                    <td> <label class="text-danger">Copia </label></td>
                    <td><div id="div5" class="form-group"><textarea id="IC5" type="text" class="form-control" onfocus="limpiaCamposEnfocados(5)"></textarea></div></td> 
                </tr>
				 <tr>
                    <td> <label class="text-danger">Remitente </label></td>
                    <td><div id="div6" class="form-group"><textarea id="IC6" type="text" class="form-control" onfocus="limpiaCamposEnfocados(6)"></textarea></div></td>                </tr>
                <tr>
                    <td> <label class="text-danger">Asunto</label></td>
                    <td><div id="div7"class="form-group"><textarea id="IC7" type="text" class="form-control"rows=4 cols=30 onfocus="limpiaCamposEnfocados(7)"></textarea></input></div></td> <!--****** NUEVO ***********-->
                </tr>
				<tr>
                    <td> <label class="text-danger">Recibido</label></td>
                    <td><div id="div8"class="form-group"><input id="IC8" type="text"class="form-control" onfocus="limpiaCamposEnfocados(8)" ng-model="usuario" disabled></input> <div></td> <!--****** NUEVO ***********-->
                </tr>
				<tr>
                    <td> <label class="text-danger">Estado</label></td>
                    <td><div id="div9"class="form-group"><textarea type="text" class="form-control" id="IC9"  onfocus="limpiaCamposEnfocados(9)"></textarea></div></td> <!--****** NUEVO ***********-->
                </tr>
                <tr>
                    <td> <label class="text-danger">Observaciones</label></td>
                    <td><div id="div10"class="form-group"><textarea type="text"class="form-control" id="IC10" data-toggle="tooltip" data-placement="right" title="Hooray!"> </textarea></input></div></td> <!--****** NUEVO ***********-->
                </tr>
                </center>
						</tbody>
		           </table>  
      <div class="modal-footer">
	    <center><button type="button" class="btn btn-default" ng-click = "actualiza(c)" >Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center>	
      </div>
    </div>
  </div>
  </div>
</div>
	<!-- fin del popup editar correspondencia-->
	  <!-- Trigger the modal with a button -->
<!-- Modal -->
<div class="col-md-1"></div>	   
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">   
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4>Mostrando Enlaces de </h4>
			<h4 id="idEnlace"></h4>
		</center>
      </div>
      <div class="modal-body">
		<center>
			<table class="table">
			<thead>
			<tr class="danger">
				<td>
					<h3>Superiores</h3>
				<td>
					<h3>Inferiores</h3>
				<td>
					
				</td>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div>
							<li ng-repeat = "e in enlaces[0]">{{e}}</li>
						</div>
					</td>
					<td>
						<div>
							<li ng-repeat = "e in enlaces[1]">{{e}}</li>
						</div>
					</td>
				</tr>
			</tbody>
		</table> 
		</center>
      </div>
      <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- popup alarma-->
		   	    <!-- Modal -->
<!-- Modal -->
<div ></div>
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
	 <div class="modal-content">
      <div class="modal-header">		
        <button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4>Ajuste de Alarma </h4>
		</center>
	  </div>
      <div class="modal-body">
	  <center>
		<table class="table">
			<thead>
			<tr class="danger">
				<td>
					 <label class="text-danger">Fecha Aviso</label>
				<td>
					<div class='input-group date' id='datetimepicker33'>
          					<input type='text' class="form-control" id="IC14"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar" onclick="limpiaCamposEnfocados(3)"></span>
          					</span>
        				</div>
				<td>		
				</td>
			</tr>
			<tr class="danger">
				<td>
					 <label class="text-danger">Fecha Limite</label>
				<td>
					<div class='input-group date' id='datetimepicker44'>
          					<input type='text' class="form-control" id="IC15"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar" onclick="limpiaCamposEnfocados(3)"></span>
          					</span>
        				</div>
				<td>
				</td>
			</tr>
			</thead>	
		</table>
		</center>
      </div>
      <div class="modal-footer">
	   <center>
	  <button id="btnGd1" type="button" class="btn btn-default"  >Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		</center>     
	 </div>
    </div>
  </div>
  </div>
	<!-- fin del popup Alarma-->
	
	<!-- popup alarma-->
		   	    <!-- Modal -->
<!-- Modal -->
<div ></div>
	   
<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
	 <div class="modal-content">
      <div class="modal-header">		
        <button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4>Ajuste de Alarma </h4>	
		</center>
	  </div>
      <div id="divAjuste1" class="modal-body">
	  <center>
		 <label class="text-danger">Actualmente este oficio no cuenta con una alarma. Puede crear una nueva alarma completando los siguientes campos</label>
		</center>
      </div>	  
	   <div id="divAjuste2" class="modal-body" >   
	  <center>
		 <table class="table">
			<thead>
			<tr class="danger">
				<td>
					 <label class="text-danger">Fecha Aviso</label>
				<td>
					<div class='input-group date' id='datetimepicker7'>
          					<input type='text' class="form-control" id="IC16"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar" onclick="limpiaCamposEnfocados(3)"></span>
          					</span>
        				</div>
				<td>
				</td>
			</tr>
			<tr class="danger">
				<td>
					 <label class="text-danger">Fecha Limite</label>
				<td>
				<div class='input-group date' id='datetimepicker8'>
          					<input type='text' class="form-control" id="IC17"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar" onclick="limpiaCamposEnfocados(3)"></span>
          					</span>
        				</div>
				<td>
				</td>
			</tr>
			</thead>
			
		</table>
		</center>
      </div>
      <div class="modal-footer">
	  <center>
		<button id = "btnGd" type="button" class="btn btn-default"   >Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </center>
	  </div>
    </div>
  </div>
  </div>
	<!-- fin del popup Alarma-->   
<script type="text/javascript">

$(document).ready(function() {// Solicita la informacion de la sesion si aun no existe en el storage
	//$("#menuDiv").load("/HTML/menu", function(){$("#BDM").addClass("activa");}); 
	
	 solicitarInformacionDeSesion("#BDM");

	$("#ayuda").click(
	function(){$("#miAyuda").show();});
});

let app = angular.module('app', []);
app.controller('ControllerAngular', controllerAngular); 

/**
* Funciones de los calendarios de la pagina
**/
     //Calendario de la fecha de oficio
    $('#datetimepicker33').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });
 
  
  //Calendario de la fecha de recibido
    $('#datetimepicker44').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });
 
 
	//Calendario de la fecha de recibido
    $('#datetimepicker55').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });
 
   //Calendario de la fecha de recibido
    $('#datetimepicker66').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });
  
 
   $('#datetimepicker7').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });

   $('#datetimepicker8').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });


</script>
    </body>
</html>