<!DOCTYPE html>
<html ng-app = "app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Enlace de Documentos</title>
			<script type="text/javascript" src="\..\javascripts\script_EnlaceCorrespondencia.js"></script>
	<script src="\..\javascripts\jquery-1.12.2.js"></script>
	<script src="\..\javascripts\moment-2.15.1.js"></script>
	<script src="\..\javascripts\bootstrap-3-3-7.min.js"></script>
	<link rel="stylesheet" href="\..\stylesheets\bootstrap-3-3-7.min.css">
	<script src="\..\javascripts\bootstrap-datetimepicker-4.7.14.js"></script>
	<link rel="stylesheet" href="\..\stylesheets\bootstrap-datetimepicker-4.7.14.css">
    <!-- Angular--> 
	<script src="\javascripts\angular.min.js"></script>
	
    </head>
	<body ng-app ng-controller = "ControllerAngular" data-ng-init = "init()">

    <div id="menuDiv"></div>
	  
		<!-- Trigger the modal with a button -->
<!-- Modal -->
	<div id="myAyuda" class="modal fade" role="dialog" style="margin: 0 auto; width:675px; height:375px;">
	<div class="well">
   
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-danger">Ayuda</h4>
      </div>
      <div class="modal-body">
		<right>
                <tbody>
					Para enlazar las correspondencias ya ingresadas en el sistema deberá llenar
					los campos requeridos estos son el documento 1 y documento 2. Para ello 
					selecciona el criterio de busqueda a su gusto y escribe en el campo la 
					correspondencia que busca. Le aparecerá en el cuadro de la derecha todas
					las correspondencias asociadas a la busqueda. Cada una de ellas tendrá un 
					botón con el simbolo(+), deberá ser presionado para que esa correspondencia
					se ingrese en el campo. Se debe hacer este proceso para llenar cada uno de los 
					campos. Cuando los dos campos esten llenos se debe presionar le botón Realizar Enlace.<p>		
				</tbody> 
	    </right>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center>	
      </div>
    </div>

  </div>
  </div>  <!-- fin del popup de ayuda --> 
	   
	   <!---Cuerpo-->
	   <body background="../images/situn4.png">
	   	<div class="col-sm-2"></div>
	  <div class="col-sm-12">
	   <table class ="table" style="border: hidden">
			<tr>
				<td width = '20%'>
					<div class="col-md-1"></div>
					<div class="col-md-16">
						<span  class="text-danger"><h2>Enlace de Documentos</h2></span>							
						<form class="form-horizontal">										
							<div class="form-group">
								<div class = "col-sm-10"> 
									<label class=" control-label  text-danger">Criterio de Búsqueda</label>
								</div>
								<div class="col-xs-12">
									<select class="form-control input-sm" id="opBusqueda" ng-model = "criterio">
										<option value="Nº oficio">Nº Oficio
										<option value="Destinatorio">Destinatorio                                            
										<option value="Remitente">Remitente                                          
										<option value="Asunto">Asunto                                      
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<div class = "col-sm-18"> <label class="col-sm-8 control-label  text-danger">Documento 1</label>
								</div>
								<div class="col-xs-12">
									<input type="text" class = "form-control input-sm" id = "E1"  ng-model="doc1.tc_3" ng-Keypress = "buscar('E1', $event)" ng-click="setCurrent(1)"></input>
									<button class = "btn" id = "E3" value = "editar" ng-click="editar('E1')"><img src="../../../../images/quitar.png" width="20" height="20" /></button>
								</div>
							</div>
 
							<div class="form-group">
								<label class="col-sm-8 control-label  text-danger">Documento 2</label>
								<div class="col-sm-12">
									<input type="text" class="form-control" id="E2"  ng-model = "doc2.tc_3" ng-Keypress = "buscar('E2', $event)" ng-click="setCurrent(2)">
									<button  class = "btn" id = "E4" ng-click="editar('E2')"> <img src="../../../../images/quitar.png" width="20" height="20" /></button>
								</div>
							</div>
							
							<center><div >
							<button type = "button" class="btn btn-default" id ="guardar"  ng-click = "enlazar()">Realizar Enlace</button>
						
							<button type = "button" class="btn btn-default" id="cancelar"  onclick = "limpiaCampos()" >Cancelar</button>
						</div></center>
						</form>
          
							
						<div style="margin-top:100px; margin-left:60px; "><label id="mensaje" class="text-danger"></label></div>
					</div>	
						
				</td>
						
				<td></td>
				<td>
					<table class = "table table-bordered" id = "busqueda_enlace">
					
							<tr class="danger">
								<td></td>
								<td>Oficio</td>
								<td>Asunto</td>
								<td>Destinatario</td>
								<td>Remitente</td>
								</tr>
							
							<tbody>
								<tr ng-repeat = "c in correspondencias">
									<td> <button ng-click="updateDoc(c)"> + </button> </td>
									<td> {{c.tc_3 }} </td>
									<td> {{c.tc_8 }} </td>
									<td> {{c.tc_5 }} </td>
									<td> {{c.tc_7 }} </td>
								</tr>
							</tbody>
					</table>
				</td>
			</tr>
        </table>
	

		
		
		
<script type="text/javascript">
 document.addEventListener("DOMContentLoaded", recuperarCorrespondenciaLS);

$(document).ready(function() {
    // Solicita la informacion de la sesion si aun no existe en el storage
	$("#menuDiv").load("/HTML/menu");
		$("#ayuda").click(
	function(){
		$("#miAyuda").show();
	});

});


 
  
	var app = angular.module('app', []);


   app.controller('ControllerAngular', controllerAngular);
   
   
   
  
  
    
</script>


    </body>
</html>
