<!DOCTYPE html>

<html>
<head>
<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 -->

 <script src="\..\javascripts\new\jquery-1.12.2.js"></script>
  <script src="\..\javascripts\new\jquery.validate.min.js"></script>

<script src="\..\javascripts\new\bootstrap-3-3-7.min.js"></script>

<link rel="stylesheet" href="\..\javascripts\new\bootstrap-3-3-7.min.css">

</head>
<body background="../images/situn4.png">
	<div class="container">
  <!-- Modal -->
  <div  class="modal fade"  id="myModal" role="dialog" >
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" >
        <div class="modal-header" style="padding:35px 50px;">
         
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">

        
        <% if (error) { %> 
          <div class="alert alert-danger" id= "mensaje"><STRONG>Error: </STRONG> <%= mensaje %></div>
        <% } %>
          <form role="form" id="formu" action="http://localhost:3000/login" method="POST">
            <div class="form-group">
              <label for="usrname" id="hty"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" name = "username" id="usrname" placeholder="Ingrese su usuario" autofocus="">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" name = "password" id="psw" placeholder="Ingrese su contraseña" focus>
            </div>
              <button type="submit" class="btn btn-success" id = "login"><span class="glyphicon glyphicon-off"></span> Login</button>
			  <button type="submit" class="btn btn-danger  pull-right" ><span class="glyphicon glyphicon-remove"></span> Cancel</button>

          </form>
        </div>
        <div class="modal-footer">
			<center>
				<h3><IMG SRC="../images/situn2.png" WIDTH=90 HEIGHT=50></h3>
			</center>
        </div>
      </div>
      
    </div>
  </div> 
</div>
 
<script>
$(document).ready(function(){     
 $("input:text:visible:first").focus();
        $('#myModal').modal({ backdrop: 'static', keyboard: false });
        <% if (error) { %>           
          $('#usrname').val('<%= usr  %>');
         $('#psw').val('<%= pass  %>');
        <% } %>

        $('#formu').validate({
          debug: true,
          rules: {
            username: {
              required: true
            },
            password: {
              required: true
            }
          },
          messages: {
            username: {
              required: "Se requiere nombre de usuario"
            },
            password: {
              required: "Se requiere contraseña"
            }
          },
          submitHandler: function(form) {
              //alert("Submitted!");
              //event.preventDefault();
              var $form = $(form);
              //$(form).submit();
              //$form.submit();
              form.submit();
              //$('#formu').ajaxSubmit();
            }
        });
});




</script>

</body>

</html>